#screenreader {
	width: 1px;
	height: 1px;
	opacity: 0;
}
#header {
	position: absolute;
	height: 30px;
	top: 4px;
	left: 4px;
	right: 4px;
}
#titleCanvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
	background: #fff;
}
#fileButton,
#optionsButton,
#helpButton {
	position: absolute;
    border: solid 1px #000;
    width: 88px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    border-radius: 5px;
    top: 4px;
    padding: 1px;
    background-color: #fff;
    cursor: pointer;
}
#fileButton[selected],
#optionsButton[selected] {
    height: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: #fff;
    z-index: 99;
}
#helpButton {
    right: 4px;
}
#optionsButton {
    right: 100px;
}
#fileButton {
    right: 196px;
}
#container {
	position: absolute;
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px;
}
#notationAreaCanvas {
	display: block;
	position: absolute;
	/*width: 100%;*/
	/*height: 70%;*/
	top: 0;
	right: 0;
	left: 0;
	/*bottom: 30%;*/
	background: #fff;
}
#controlCanvas {
	display: block;
	position: absolute;
	/*width: 100%;
	height: 30%;*/
	top: 70%;
	right: 0;
	left: 0;
	bottom: 0;
	background: #fff;
}
#fileDialog,
#optionsDialog {
    position: absolute;
    border: solid 1px #000;
    right: 4px;
    top: 36px;
    bottom: 8px;
    width: 282px;
    background-color: #fff;
    z-index: 0;
}
#fileDialog {

}
#optionsDialog {

}
.dialogButton {
    background-color: #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.dialogButton:hover {
    border: 1px solid #000;
}
.dialogButtonCaption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.dialogButtonDescription {
    font-size: 12px;
    line-height: 14px;
    padding: 0px 20px;
}
.dialogCheckbox,
.dialogSubCheckbox {
    position: relative;
    padding: 10px 10px 0px 10px;
    width: 242px;
    margin: 10px;
    height: 56px;
}
.dialogSubCheckbox {
    padding: 0px 10px 0px 10px;
}
.dialogSubCheckbox[disabled],
.dialogSubField[disabled],
.dialogLabel[disabled] {
    pointer-events: none;
    opacity: 0.4;
}
.dialogCheckboxIndicator {
    border: 2px solid #000;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 10px;
}
.dialogSubCheckbox .dialogCheckboxIndicator {
    left: 30px
}
.dialogCheckbox:hover .dialogCheckboxIndicator,
.dialogSubCheckbox:hover .dialogCheckboxIndicator{
    background-color: #ddd;
}
.dialogCheckbox[selected] .dialogCheckboxIndicator::before,
.dialogSubCheckbox[selected] .dialogCheckboxIndicator::before {
    content: "\2714";
    left: 1px;
    position: relative;
    top: -1px;
}
.dialogCheckboxCaption {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 36px;
    width: 220px;
}
.dialogSubCheckbox .dialogCheckboxCaption {
    font-size: 18px;
    left: 56px;
}
.dialogCheckboxDescription {
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    left: 36px;
    top: 35px;
    width: 200px;
}
.dialogSubCheckbox .dialogCheckboxDescription {
	top: 25px;
    left: 56px;
}
.dialogField,
.dialogSubField {
    position: relative;
    padding: 0px 10px;
    width: 242px;
    margin: 10px;
    height: 40px;
}
.dialogSubField {
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
}
.dialogFieldCaption {
    font-size: 20px;
    font-weight: bold;
}
.dialogSubField .dialogFieldCaption {
    font-size: 18px;
}
.dialogFieldValue {
    font-size: 20px;
    font-weight: bold;
    width: 35px;
    text-align: center;
    margin-left: 8px;
    margin-right: 7px;
    padding: 5px;
}
.dialogSubField .dialogFieldValue {
    font-size: 18px;
    width: 30px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 3px;
}
.dialogFieldButtons {
    font-size: 12px;
    width: 20px;
    display: inline-block;
    line-height: 17px;
    vertical-align: -5px;
    cursor: pointer;
}
.dialogFieldIncreaseButton {

}
.dialogFieldDecreaseButton {

}
.dialogPopup {
    position: relative;
    padding: 10px 10px 0px 10px;
    width: 242px;
    margin: 10px;
    height: 33px;
}
.dialogPopupCaption {
    font-size: 20px;
    font-weight: bold;
}
.dialogPopupMenu {
    background: transparent;
    border: 1px solid #000;
    font-size: 20px;
    height: 32px;
    padding: 8px;
    width: 143px;
    margin-left: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.dialogPopupMenuItem {

}
.dialogLabel {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 40px 15px 20px;
}
#newFileButton {

}
#openFileButton {

}
#saveFileButton {

}
#exportFileButton {

}
#debug {
	background: #CCC;
	display: none;
}
#fileUpload {
	visibility: hidden;
}
/*
#dialogField {
	position: absolute;
	visibility: hidden;
}
*/
#clipboard {
	width: 1px;
	height: 1px;
	opacity: 0;
}
@font-face {
	/* Bravura by Steinberg: www.smufl.org/fonts/ */
	font-family: 'Bravura';
	font-weight: normal;
	font-style: normal;
	src: url('../font/bravura/Bravura.eot');
	src: url('../font/bravura/Bravura.eot?#iefix') format('embedded-opentype'), local('Bravura'), url('../font/bravura/Bravura.woff') format('woff'), url('../font/bravura/Bravura.otf') format('opentype');
}
body {
	font-family: sans-serif;
	font-size: 12pt;
	line-height: 16pt;
	color: #000;
	/*margin-left: 150px;
	margin-top: 100px;
	margin-right: 150px;*/
	margin-left: 10%;
	margin-top: 50px;
	margin-right: 10%;

}
a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
h2 {
	font-size: 11pt;
	line-height: 13pt;
	font-weight: 100;
	color: #999;
}
article {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	
	-webkit-column-rule: 1px solid #666;
	-moz-column-rule: 1px solid #666;
	column-rule: 1px solid #666;
	
	-webkit-column-gap: 50px;
	-moz-column-gap: 50px;
	column-gap: 50px;
	
	
}

/* based on blue pill by Chad Mazzola (http://hellohappy.org/css3-buttons/)
*******************************************************************************/

.linkarea {
	text-align: center;
	padding-bottom: 20px;
}

#notatorlink {
	background-color: #a5b8da;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5b8da), color-stop(100%, #7089b3));
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
	background-image: linear-gradient(top, #a5b8da, #7089b3);
	border-top: 1px solid #758fba;
	border-right: 1px solid #6c84ab;
	border-bottom: 1px solid #5c6f91;
	border-left: 1px solid #6c84ab;
	border-radius: 18px;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	color: #fff;
	font: bold 22px/1 sans-serif;
	padding: 14px;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	display: inline-block;
}
  
#notatorlink:hover {
    background-color: #9badcc;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
    background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
    background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
    background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
    background-image: -o-linear-gradient(top, #9badcc, #687fa6);
    background-image: linear-gradient(top, #9badcc, #687fa6);
    border-top: 1px solid #6d86ad;
    border-right: 1px solid #647a9e;
    border-bottom: 1px solid #546685;
    border-left: 1px solid #647a9e;
    -webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
    box-shadow: inset 0 1px 0 0 #a5b9d9;
    cursor: pointer; }
	
#notatorlink:active {
    border: 1px solid #546685;
    -webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee; }

/*******************************************************************************/

h3 {
	background-color: #9badcc;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9badcc), color-stop(100%, #687fa6));
	background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
	background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
	background-image: -ms-linear-gradient(top, #9badcc, #687fa6);
	background-image: -o-linear-gradient(top, #9badcc, #687fa6);
	background-image: linear-gradient(top, #9badcc, #687fa6);
	width: 100%;
	padding: 8px;
	color: #FFF;
}
.userguide {
	margin-right: 25%;
}
.unimplemented {
	color: #69F;
}

.example {
	text-align: center;
	padding-bottom: 20px;
	}

#dialog {
    position: absolute;
    background-color: white;
    border: solid 1px black;
    padding: 3vh;
    width: 40vw;
    left: 30vw;
    top: 30vh;
    box-shadow: 5px 5px 5px lightgray;
}

#dialogTitle {
    font-weight: bold;
    font-size: 4vh;
}

#dialogDescription {
    margin-top: 3vh;
    font-size: 2.5vh;
}

#dialogControlList {
    margin-top: 3vh;
}

.dialogControlListItem {
    background-color: #eee;
    padding: 1vh;
    margin-bottom: 1vh;
    padding-left: 3vh;
    border-radius: 1.5vh;
    border: solid 1px white;
    margin-left: 10vh;
    margin-right: 10vh;
    font-size: 2.3vh;
}

.dialogControlListItem[selected] {
    background-color: #bbf;
    font-weight: bold;
}

.dialogControlListItem:hover {
    border: solid 1px black;
}
