@font-face {
	/* Bravura by Steinberg: www.smufl.org/fonts/ */
	font-family: 'Bravura';
	font-weight: normal;
	font-style: normal;
	src: url('https://tobyrush.com/braillemusic/viewer/font/bravura/Bravura.woff') format('woff'),
	   url('https://tobyrush.com/braillemusic/viewer/font/bravura/Bravura.otf') format('opentype');
}